<div class="container">
<h3>Following</h3>

<div class="row">
 <% @following.each do |f| %>
   <div class="col s1">
    <p><%= image_tag f.image, class:"circle profile" %></p>
   </div>
   <div class="col s11">
     <h5> <%= link_to full_name(f), f %> </h5>
     <p><strong>Email:</strong> <%= f.email %></p>
     <p><strong>Country: </strong> <%= f.country %></p>
   </div>
  <% end %>
</div>
</div>
