<h1>Following</h1>

  <ul>
  <% @following.each do |f| %>
  <%= image_tag f.image, class:"circle profile" %>
    <h5> <%= link_to "#{f.first_name.capitalize} #{f.last_name.capitalize}", f %></h5>
  <% end %>
  </ul>
