<h1>All Users</h1>

  <ul>
  <% @users.each do |u| %>
  <%= image_tag u.image, class:"circle profile" %>
    <h5> <%= link_to "#{u.first_name.capitalize} #{u.last_name.capitalize}", u %></h5>
    <li>Email: <%= u.email %></li>
    <li>City: <%= u.city %></li>
  <% end %>
  </ul>

