<h3 class="center">All Galleries </h3>

<div class="row">
<% @all_galleries.each do |g| %>
   <div class="col s4">
    <div class="card">
      <div class="card-image">
      <%= link_to( cl_image_tag(g.photos.first.image), user_gallery_path( g.user, g) ) %>
      <span class="card-title"><%= "#{g.title} - #{full_name(g.user)}" %></span>
            </div>
          </div>
        </div>
    <% end %>
  </div>

