<div class="center">
  <%= render "photo_nav" %>
  <p><%= render 'tags' %></p>
</div>
<div class="row">
<% @all_photos.each do |p| %>
  <% if p.user %>
   <div class="col s4">
    <div class="card">
      <div class="card-image">
      <%= link_to( cl_image_tag(p.image), user_photo_path( p.user, p) ) %>
          <span class="card-title"><%= full_name(p.user) %></span>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>



