<div class="center">
  <h3><%= full_name(@user)%>'s Galleries</h3>
  <% if current_user?(@user) %>
    <p><%= link_to "Add New Gallery", new_user_gallery_path(@current_user), class:"waves-effects waves-light btn" %></p>
<% end %>
</div>

<div class="row">
<% @galleries.each do |g| %>
   <div class="col s4">
    <div class="card">
      <div class="card-image">
      <%= link_to( image_tag(g.photos.first.image), user_gallery_path( @user, g) ) %>
      <span class="card-title"><%= g.title %></span>
            </div>
          </div>
        </div>
    <% end %>
  </div>



