<h1><%= @gallery.title %></h1>
<%= link_to "Add Photo", new_user_photo_path(@user) %>
<% @gallery.photos.each do |p| %>
  <p><%= p.title %></p>
  <p><%= link_to( image_tag(p.image), user_photo_path(@user, p) ) %></p>
<% end %>
