nav{
 padding:0 80px;
}

input[type="search"] {
  /* or height of nav */
}

.active:not(ul){
height:62px;
}

body nav form {
  position: relative;
	padding-left: 30px;
}

body nav form i.material-icons {
  width: 30px;
  display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

body nav div.input-field {
  display: inline-block;
  color: black;
  overflow: hidden;
}

ul.right, ul.right > li {
  height: 100%;
}
