// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.parallax{
background: url("http://res.cloudinary.com/dilipbtuu/image/upload/v1480563824/h6rcymmv7hhk3grw1ibz.jpg");
}

div#index-banner.parallax-container{
height: 715px;
}

.homeheader{
margin: 8.14rem 0 0.912rem 0;
text-shadow: 3px 1px 15px rgba(150, 150, 150, 1);
}

.lowheader{
text-shadow: 3px 1px 15px rgba(150, 150, 150, 1);
}

h2.center .material-icons{
font-size: 50px;
}







































