// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


li{
  list-style:none;
}

.profile{
 width: 70px;
 height: 70px;
}

.links{
display:inline;
padding: 0 10px;
}
